<div class="banner-container">
    <div class="banner">
        <div class="banner-img">
            <img src="../../../assets/img/banner1.png" alt="">
        </div>
        <div class="arrow">
            <div class="arrow-left">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
            </div>
            <div class="arrow-right">
                <fa-icon [icon]="faArrowRight"></fa-icon>
            </div>
        </div>
        <div class="banner-content">
            <div class="banner-title">
                <p>
                    WAY KAMBAS MINI EBONY
                </p>
            </div>
            <div class="banner-detail">
                MATOA Way Kambas - Dây đeo được thiết kế bởi loại gỗ có độ bền cao và được sắp xếp chồng chéo,
                mang lại cảm giác mạnh mẽ, chắc chắn như da loài tê giác.
            </div>
            <div class="button-add">
                <button type = "button" class="btn">Thêm vào giỏ hàng</button>
            </div>
        </div>
    </div>
</div>
