.banner-container{
    width: 100%;
    padding: 1.875rem 5.3125rem;
    .banner{
        z-index: 2;
        position: relative;
        height: 31.5rem;
        background: #F1DDC9;
        display: flex;
        align-items: center;
        padding: 3.5rem 12.5rem 3.5rem 23.75rem ;
        .banner-img{
            position: absolute;
            top:22%;
            left: 3%;
            img{
                width: 97.6%;
                height: 102.5%;
            }
        }
        .arrow{
            position: absolute;
            top:94%;
            right: 5%;
            display: flex;
            color: white;
            .arrow-left{
                width: 3.75rem;
                height: 3.75rem;
                margin-right: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #D84727;
            }
            .arrow-right{
                width: 3.75rem;
                height: 3.75rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #D84727;
            }
        }
        .banner-content{
            .banner-title{
                p{
                    font-size: 2.5rem;
                }
            }
            .banner-detail{
                font-size: 0.875rem;
                margin-bottom: 2rem;
            }
            .button-add{
                button{
                    color: white;
                    font-size: smaller;
                    padding: 0.5rem 2rem;
                    background: #D84727;                   
                }
            }
        }
    }
}