.banner-container{
    width: 100%;
    padding: 1.875rem 5.3125rem;
    .banner{
        z-index: 2;
        position: relative;
        height: 31.5rem;
        background: #F1DDC9;
        display: flex;
        align-items: center;
        padding: 3.5rem 12.5rem 3.5rem 23.75rem ;
        .banner-img{
            position: absolute;
            top:22%;
            left: 3%;
            img{
                width: 97.6%;
                height: 102.5%;
            }
        }
        .arrow{
            position: absolute;
            top:94%;
            right: 5%;
            display: flex;
            color: #D84727;
            .arrow-left{
                width: 3.75rem;
                height: 3.75rem;
                margin-right: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid #D84727;
                &:hover{
                    cursor: pointer;
                    background: #D84727;    
                    color: white;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
            .arrow-right{
                width: 3.75rem;
                height: 3.75rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid #D84727;
                &:hover{
                    cursor: pointer;
                    background: #D84727;    
                    color: white;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
        .banner-content{
            .banner-title{
                p{
                    font-family: Taviraj;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 60px;
                    line-height: 80px;
                }
            }
            .banner-detail{
                font-family: Nunito;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;                
                margin-bottom: 2rem;
            }
            .button-add{
                button{
                    font-family: Taviraj;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 27px;
                    color: white;
                    padding: 0.5rem 2rem;
                    background: #D84727;                   
                }
            }
        }
    }
}