<div class="feedback-container">
    <div class="feedback-img">
        <img src="../../../../assets/img/feedback.png" alt="">
    </div>
    <div class="feedback-detail">
        <p class="feedback-title">
            Phản hồi từ khách hàng
        </p>
        <p class="feedback-content">
            Sản phẩm tại MATOA rất đa dạng, không chỉ mang lại sự thoải mái, 
            độ bền về chất lượng mà còn giúp tôi tự tin hơn.<br> Hơn nữa đội ngũ
             hỗ trợ và tư vấn rất nhiệt tình và có tâm. Tôi sẽ tiếp tục ủng hộ.
        </p>
        <p class="feedbacker">
            Nguyễn Hà Ý Nhi (25 tuổi)
        </p>
        <p class="job">
            Nhân viên văn phòng
        </p>
    </div>
</div>
