<div class="order-detail-container">
    <div class="order-detail-header">
        <p>Chi tiết đơn hàng</p>
    </div>
    <div class="order-detail-content">
        <div class="row">
            <div class="col-5">
                <p>Mã số đơn hàng</p>
            </div>
            <div class="col-7">
                <div class="title">
                    MTAWEB-2105HCM
                </div>
                <div class="content">
                    Hãy luôn nhớ Mã số đơn 
                    hàng để dễ dàng theo dõi bạn nhé!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <p>Ngày mua hàng</p>
            </div>
            <div class="col-7">
                <div class="title">
                    2021- 05 -07 14:01:48
                </div>
                <div class="content">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <p>Sản phẩm</p>
            </div>
            <div class="col-7">
                <div class="title">
                    Way Kambas Mini Ebony
                </div>
                <div class="content">
                    2 x 1.024.000 VNĐ
                </div>
                <div class="title">
                    Way Kambas Mini Ebony
                </div>
                <div class="content">
                    2 x 1.024.000 VNĐ
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <p>Tên</p>
            </div>
            <div class="col-7">
                <div class="title">
                    Lê Nguyễn Vân A
                </div>
                <div class="content">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <p>Số điện thoại</p>
            </div>
            <div class="col-7">
                <div class="title">
                    0397625947
                </div>
                <div class="content">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <p>Email</p>
            </div>
            <div class="col-7">
                <div class="title">
                    lenguyenvanA@gmail.com
                </div>
                <div class="content">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <p>Địa chỉ nhận</p>
            </div>
            <div class="col-7">
                <div class="title">
                    278 Nguyễn Tri Phương, 
                    Phường 5, Quận 10 Thành phố Hồ Chí Minh
                </div>
                <div class="content">
                </div>
            </div>
        </div>
    </div>
</div>
