<div class="profile-address">
    <p class="profile-address-text">
        Địa chỉ thanh toán
    </p>
    <div class="profile-content-detail">
        <form action="">
            <div class="form-group">
                <label for="name">Họ và tên</label>
                <input type="text" name="name" class="form-control" value="Trần Minh Trí">
            </div>
            <div class="form-group">
                <label for="name">Email</label>
                <input type="text" name="email" class="form-control" value="tranminhtri1998@gmail.com" >
            </div>
            <div class="form-group">
                <label for="phone">Số điện thoại</label>
                <input type="text" name="phone" class="form-control" value="0365374021">
            </div>
            <div class="form-group">
                <label for="address">Địa chỉ nhận hàng</label>
                <input type="text" name="address" class="form-control" value="số 25 đường f2">
            </div>
            <div class="form-group">
                <label for="country">Quốc gia</label>
                <input type="text" name="country" class="form-control" value="Việt Nam">
            </div>
            <div class="form-group">
                <label for="city">Tỉnh/ Thành phố</label>
                <input type="text" name="city" class="form-control" value="Hồ Chí Minh">
            </div>
            <div class="district-wards row">
                <div class="form-group col-6">
                    <label for="district">Quận/Huyện</label>
                    <input type="text" name="District" class="form-control" value="Quận 2">
                </div>
                <div class="form-group col-6" style="margin-bottom: 0;">
                    <label for="wards">Xã/Phường</label>
                    <input type="text" name="wards" class="form-control" value="Bình Trưng Đông">
                </div>
            </div>
            <div class="form-group">
                <label for="city">Chọn đơn vị vận chuyển</label>
                <input type="text" name="city" class="form-control" value="GHTK">
            </div>
        </form>
    </div>
</div>
