.header{
    height: 6.875rem;
    width: 100%;
    padding: 1.875rem 5.3125rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    .logo{
        flex:2;
    }
    .nav{
       flex:6;
       padding: 0 3rem;
        .navigation{
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin: 0 !important;
            .navigation-link{
                line-height: 100%   ;
                flex: 1;
            }
        }
    }
    .header-right{
        flex:2;
        display: flex;
        justify-content: space-between;
        .icon{
            display: flex;
        }
    }
}
