.header{
    height: 6.875rem;
    width: 100%;
    padding: 1.875rem 5.3125rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    .logo{
        flex:2;
    }
    .nav{
       flex:6;
       padding: 0 3rem;
        .navigation{
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin: 0 !important;
            .navigation-link{
                font-family: Taviraj;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 34px;
                line-height: 100%;
                flex: 1;
                padding: 1rem 1rem;
                border-radius: 5px;
                &:hover{
                    cursor: pointer;
                    background:#D84727;
                    color: white;
                }
            }
        }
    }
    .header-right{
        flex:2;
        display: flex;
        justify-content: space-between;
        .icon{
            display: flex;
            // padding: 1rem 1rem;
            &:hover{
                cursor: pointer;
                color: #555;
            }
        }
    }
}
