.payment-container{
    padding: 1.875rem 5.3125rem;
    margin-bottom: 11rem;
    .payment-header{
        display: flex;
        justify-content: center;
        align-items: center;
        .payment-header-item{
            margin-right: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #999;
            i{
                font-size: 1.5rem;
            }
            span{
                font-family: Taviraj-500;
                font-size: 1.25rem;
                line-height: 1.5rem;
                letter-spacing: 0.02em;   
                color: #999;
                margin-top: 1.25rem;               
            }
        }
        .cross{
            width: 114px;
            height: 1px;
            background: #333;
            margin-right: 1.5rem;
        }
    }
    .payment-content{
        margin-top: 3rem;
        display: flex;
        justify-content: space-around;
        &-left{
            width: 48%;
            height: 50%;
            background: white;
            // padding: 2rem;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
        }
        &-right{
            width: 48%;
            .buttons{
                display: flex;
                justify-content: space-between;
                margin-top: 2.5rem;
                .continue{
                    width: 48%;
                    height: 61px; 
                    border: 1px solid #D84727;
                    box-sizing: border-box; 
                    font-family: Taviraj-500;
                    font-size: 1.25rem;
                    line-height: 2rem;    
                    color: #D84727;                                       
                }
                .payment{
                    width: 48%;
                    height: 61px; 
                    background: #D84727;
                    border: none;
                    font-family: Taviraj-500;
                    font-size: 1.25rem;
                    line-height: 2rem;
                    color: #FFFFFF;                    
                }
            }
        }
    }
}