<div class="confirm-container">
    <div class="confirm-header">
        <div class="confirm-header-item">
            <i class="bi bi-basket-fill"></i>
            <span>
                1. Kiểm tra
            </span>
        </div>
        <div class="cross"></div>
        <div class="confirm-header-item">
            <i class="bi bi-credit-card"></i>
            <span
            >2. Thanh toán</span>
        </div>
        <div class="cross"></div>
        <div class="confirm-header-item">
            <i class="bi bi-card-checklist" style="color: #D84727;"></i>
            <span style="
                            color: #D84727;
                            font-family: Taviraj-600;"
            >3. Xác nhận
        </span>
        </div>        
    </div>
    <div class="confirm-content">
        <div class="confirm-content-left">
            <app-order-confirm></app-order-confirm>
        </div>
        <div class="confirm-content-right">
            <app-ship></app-ship>
        </div>
    </div>
</div>
