<div class="new-products-container">
    <div class="title">
        <p>Sản phẩm mới</p>
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col-xl-3">
            <app-product [className]="classOfProduct"></app-product>
        </div>
        <div class="col-xl-3">
            <app-product [className]="classOfProduct"></app-product>
        </div>
        <div class="col-xl-3">
            <app-product [className]="classOfProduct"></app-product>
        </div>
        <div class="col-xl-3">
            <app-product [className]="classOfProduct"></app-product>
        </div>
    </div>
</div>
