.new-products-container{
    padding: 0.75rem 5.3125rem;
    .title{
        margin-bottom: 6.75rem;
        p{
            font-family: Taviraj-500;
            font-size: 36px;
            line-height: 40px;
            color: #333;
        }
        .line{
            width: 10rem;
            height: 1px;
            background: #333;
        }
    }
}