.about-container{
    padding: 10rem 5.3125rem;
    .about-title{
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        color: #333;
        .line{
            width: 10rem;
            height: 1px;
            background: #333;
        }
    }
    .about-detail{
        display: flex;
        align-items: center;
        .about-text{
            .story{
                font-weight: normal;
                font-size: 20px;
                line-height: 40px;
                color:#777;
                margin-bottom: 2rem;
            }
            .decr{
                font-size: 36px;
                line-height: 40px; 
                color: #333;
                margin-bottom: 2rem;
            }
            .btn-add{
                padding: 1rem 1.5rem;
                font-size: 16px;
                line-height: 27px;
                text-align: center;
                color: #D84727;
                outline: none;
                border: 2px solid #D84727;
                box-sizing: border-box;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }
        .about-img{
            img{
                width: 100%;
            }
        }
    }
}