<div class="about-container">
    <div class="about-title">
        <p>Về chúng tôi</p>
        <div class="line"></div>
    </div>
    <div class="about-detail">
        <div class="about-text">
            <p class="story">Câu chuyện thương hiệu</p>
            <p class="decr">
                Cá tính bên trong từ vẻ đẹp phụ kiện
            </p>
            <button type="button" class="btn-add">
                Khám phá ngay
            </button>
        </div>
        <div class="about-img">
            <img src="../../../../assets/img/about.png" alt="">
        </div>
    </div>
</div>
