<div class="order-confirm">
    <div class="order-confirm-img">
        <img src="../../../assets/img/confirm.png" alt="">
    </div>
    <div class="order-confirm-content">
        <div class="order-confirm-content-header">
            Đơn hàng đã được xác nhận
        </div>
        <div class="order-confirm-content-text">
            Đơn đặt hàng của bạn đã được xác nhận, 
            vui lòng chờ đợi và theo dõi đơn đặt hàng của bạn
        </div>
    </div>
    <div class="order-confirm-button">
        <button>Mua sản phẩm khác</button>
    </div>
</div>
