<div class="login-container">
    <div class="login">
        <p class="login-text">Đăng nhập</p>
        <form action="" class="login-form">
            <div class="form-group" style="margin-bottom:2rem">
                <label for="username">Tên đăng nhập</label>
                <input type="text" name ="username" class= "form-control">
            </div>
            <div class="form-group" style="margin-bottom:0.5rem">
                <label for="password">Mật khẩu</label>
                <input type="text" name ="password" class= "form-control">
            </div>
            <p class="fogot">Quên mật khẩu?</p>
            <button  class="btn-login" type="submit">
                Đăng nhập
            </button>
            <div class="register">
                <span class="text-small">Bạn chưa có tài khoản?</span>
                <button class="text-bold" type="button" (click)="openRegister()">ĐĂNG KÝ NGAY</button>
            </div>
        </form>
    </div>
</div>
