.login-container{
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .login{
        font-family: Taviraj;
        .login-text{
            font-family: Taviraj-600;
            font-size: 1.5rem;
            line-height: 2.5rem;
            text-align: center;
            letter-spacing: 0.02em;
            color: #333333;            
        }
        .login-form{
            .form-group{
                label{
                    font-family: Taviraj;
                    font-size: 1rem;
                    line-height: 2rem;               
                    color: #000000;
                    margin: 0;               
                }
                input{
                    display: block;
                    width: 25rem;
                    border-radius: 0;
                    border: 0.3px solid #333 !important;
                    border-width: 0 0 0.3px 0 !important;
                }
            }
            .fogot{
                font-family: Taviraj;
                font-size: 1rem;
                line-height: 1.5rem;        
                color: #999999; 
                margin-bottom: 1.5rem;   
            }
            .btn-login{
            width: 25rem;
            height: 4.5rem;
            outline: none;
            border: none;
            background: #D84727;
            font-family: Taviraj-600;
            font-size: 1.2rem;
            line-height: 1.5rem;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 4rem;    
            }
            .register{
                text-align: center;
                .text-small{
                    font-family: Taviraj;
                    font-size: 1rem;
                    line-height: 1.5rem;     
                    text-align: center;             
                    color: #999999;          
                }
                .text-bold{
                    outline: none;
                    border: none;
                    background: white;
                    font-family: Taviraj-600;
                    font-size: 1rem;
                    line-height: 1.5rem;              
                    text-align: center;                
                    color: #333; 
                    &:hover{
                        cursor: pointer;
                        opacity: 0.9;
                    }                 
                }
            }
        }
    }
}
