.footer{
    width: 100%;
    .card-list{
        width: 100%;
        height: 8.75rem;
        background: #DA5E42;
        display: flex;
        align-items: center;
        padding: 0 25%;
        .card-item{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .contact{
        width: 100%;
        height: 26rem;
        background: #D84727;
        padding: 1.875rem 10.3125rem;
        display: flex;
        justify-content: space-between;
        color: #bbb;
        .contact-item{
            .contact-title{
                margin-bottom: 2rem;
                
            }
        }
    }
}

.contact-phone{
    display: flex;
    justify-content: space-between;
    h5{
        margin-right: 1rem;
    }
}