    <div class="footer">
        <div class="card-list-container">
            <div class="card-list">
                <div class="card-item">
                    <img src="../../../assets/img/card1.png" alt="">
                </div>
                <div class="card-item">
                    <img src="../../../assets/img/card2.png" alt="">
                </div>
                <div class="card-item">
                    <img src="../../../assets/img/card3.png" alt="">
                </div>
                <div class="card-item">
                    <img src="../../../assets/img/card4.png" alt="">
                </div>
            </div>
        </div>
        <div class="contact-container">
            <div class="contact">
                <div class="contact-item">
                    <div class="contact-title">
                        <img src="../../../assets/img/logo-w.png" alt="">
                    </div>
                    <div class="contact-content">
                        <h5>Địa chỉ</h5>
                        <p>1125 Nguyễn Tri Phương</p>
                        <p>Phường 10, Quận 10</p>
                        <p>Thành phố Hồ Chí Minh</p>
                        <h5>
                            Giờ hoạt động
                        </h5>
                        <p>Thứ 2-Chủ nhật</p>
                        <p>09.00-19.30</p>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="contact-title">
                        <h4>Liên hệ</h4>
                    </div>
                    <div class="contact-content">
                        <div class="contact-phone">
                            <h5>Văn phòng</h5>
                            <p>00002323000</p>
                        </div>
                        <div class="contact-phone">                   
                            <h5>Trung tâm dịch vụ</h5>
                            <p>00002323000</p>
                        </div>
                        <div class="contact-phone">
                            <h5>Trung tâm hỗ trợ khách hàng</h5>
                            <p>00002323000</p>
                        </div>
        
                    </div>
                </div>
                <div class="contact-item">
                    <div class="contact-title">
                        <h4>Liên kết nhanh</h4>
                    </div>
                    <div class="contact-content">
                        <p>Bảo hành và tư vấn</p>
                        <p>Đặt hàng & giao hàng</p>
                        <p>Kiểm tra đơn hàng</p>
                        <p>Về thương hiệu</p>
                        <p>Hệ thống cửa hàng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

