<div class="payment-container">
    <div class="payment-header">
        <div class="payment-header-item">
            <i class="bi bi-basket-fill" style="color: #D84727;"></i>
            <span style="
                    color: #D84727;
                    font-family: Taviraj-600;
                ">
                1. Kiểm tra
            </span>
        </div>
        <div class="cross"></div>
        <div class="payment-header-item">
            <i class="bi bi-credit-card"></i>
            <span>2. Thanh toán</span>
        </div>
        <div class="cross"></div>
        <div class="payment-header-item">
            <i class="bi bi-card-checklist"></i>
            <span>3. Xác nhận</span>
        </div>        
    </div>
    <div class="payment-content">
        <div class="payment-content-left">
            <div class="payment-content-left-header">
                Chi tiết đơn hàng
            </div>
            <div class="payment-content-left-content">
                <div class="payment-content-left-content-detail">
                    <span>Tạm tính</span>
                    <span>2.152.000 VNĐ</span>
                </div>
                <div class="payment-content-left-content-detail">
                    <span>Phí vận chuyển</span>
                    <span>50.000 VNĐ</span>
                </div>
                <div class="payment-content-left-content-detail">
                    <span>Mã giảm giá</span>
                    <span>MATOANew</span>
                </div>
                <div class="payment-content-left-content-detail">
                    <span> Phí đóng gói</span>
                    <span>250.000 VNĐ</span>
                </div>
            </div>
            <div class="payment-content-left-footer">
                <div class="cross"></div>
                <div class="total">
                    <span class="total-text"> Tổng cộng</span>
                    <span class="total-num">2.452.000 VNĐ</span>
                </div>
            </div>
        </div>
        <div class="payment-content-right">
            <app-address></app-address>
            <div class="buttons">
                <button class="continue">Tiếp tục mua sắm</button>
                <button class="payment">Tiến hành thanh toán</button>
            </div>
        </div>
    </div>
</div>
