<div class="payment-container">
    <div class="payment-header">
        <div class="payment-header-item">
            <i class="bi bi-basket-fill"></i>
            <span>
                1. Kiểm tra
            </span>
        </div>
        <div class="cross"></div>
        <div class="payment-header-item">
            <i class="bi bi-credit-card" style="color: #D84727;"></i>
            <span
                style="
                    color: #D84727;
                    font-family: Taviraj-600;
                "
            >2. Thanh toán</span>
        </div>
        <div class="cross"></div>
        <div class="payment-header-item">
            <i class="bi bi-card-checklist"></i>
            <span>3. Xác nhận</span>
        </div>        
    </div>
    <div class="payment-content">
        <div class="row top">
            <div class="payment-content-left col-6">
                <div class="col-12">
                    <app-bill-detail></app-bill-detail>
                </div>
                <div class="col-12">
                    <app-payment-detail></app-payment-detail>
                </div>
            </div>
            <div class="payment-content-right col-6">
                <div class="col-12">
                    <app-order-detail></app-order-detail>
                </div>
            </div>
        </div>
        <div class="row mid" >
            <div class="col-12">
                <app-payment-method></app-payment-method>
            </div>
        </div>
        <div class="row button">
            <button routerLink="/confirm" >Tiến hành thanh toán</button>
        </div>
    </div>
</div>
