.signup-container{
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .signup{
        font-family: Taviraj;
        .signup-text{
            font-family: Taviraj-600;
            font-size: 1.5rem;
            line-height: 2.5rem;
            text-align: center;
            letter-spacing: 0.02em;
            color: #333333;            
        }
        .signup-form{
            .form-group{
                margin-bottom: 1rem;
                label{
                    font-family: Taviraj;
                    font-size: 1rem;
                    line-height: 2rem;               
                    color: #000000;
                    margin: 0;               
                }
                input{
                    display: block;
                    width: 25rem;
                    border-radius: 0;
                    border: 0.3px solid #333 !important;
                    border-width: 0 0 0.3px 0 !important;
                    padding: 0 0.75rem !important;
                }
            }
            .form-check{
                display: flex;
                padding: 0;
               input{
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 1.5rem !important;
               } 
               label{
                width: 20rem;
                height: 2rem;
                font-family: Taviraj;
                font-size: 1rem;
                line-height: 1rem; 
                color: rgba(0, 0, 0, 0.5);               
               }
            }
            .btn-signup{
                width: 25rem;
                height: 4.5rem;
                outline: none;
                border: none;
                background: #D84727;
                font-family: Taviraj-600;
                font-size: 1.2rem;
                line-height: 1.5rem;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 4rem;    
            }
        }
    }
}