<div class="payment-method-container">
    <div class="payment-method-header">
        Cách thức thanh toán
    </div>
    <div class="payment-method-content">
        <div class="payment-item">
            <input type="radio" name="payment">
            <label for="payment" class="payment-item-text">
                Thanh toán tiền mặt (COD)
            </label>
        </div>
        <div class="payment-item">
            <input type="radio" name="payment">
            <label for="payment" class="payment-item-text">
                Thẻ Tín dụng/Ghi nợ
            </label>
            <div class="payment-item-img">
                <img src="../../../assets/img/pay1.png" alt="">
                <img src="../../../assets/img/pay2.png" alt="">
            </div>
        </div>
        <div class="payment-item">
            <input type="radio" name="payment">
            <label for="payment" class="payment-item-text">
                Ví điện tử
            </label>
            <div class="payment-item-img">
                <img src="../../../assets/img/pay3.png" alt="">
                <img src="../../../assets/img/pay4.png" alt="">
            </div>
        </div>
        <div class="payment-item" style="margin-right: 0;width: 100%;">
            <input type="radio" name="payment">
            <label for="payment" class="payment-item-text">
                Thẻ ATM (Hỗ trợ Internet Banking)
            </label>
            <div class="payment-item-img">
                <img src="../../../assets/img/pay5.png" alt="">
                <img src="../../../assets/img/pay6.png" alt="">
                <img src="../../../assets/img/pay7.png" alt="">
                <img src="../../../assets/img/pay8.png" alt="">
                <img src="../../../assets/img/pay9.png" alt="">
                <img src="../../../assets/img/pay10.png" alt="">
            </div>
        </div>
    </div>
</div>

