.selections{
    width: 100%;
    padding: 11rem 5.3125rem 5rem 5.3125rem;
    display: flex;
    .selection{
        position: relative;
        background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 10rem;
        height: 16.875rem;
        flex: 1;
        .title{
            font-family: Taviraj;
            font-size: 28px;
            line-height: 32px;            
            color: #333;
        }
        .detail{
            font-family: Nunito;
            font-size: 16px;
            line-height: 24px;
        }
        .more{
            font-family: Taviraj-600;
            font-size: 16px;
            line-height: 27px;
            &:hover{
                cursor: pointer;
                opacity: 0.8;
            }
            p{
                margin: 0;
            }
            .underline{
                width: 26%;
                height: 1px;
                background: #333;
            }
        }
        .selection-img{
            position: absolute;
            right: 1%;
            bottom: 1%;
            img{
                height: 100%;
            }
        }
    }
}