<div class="selections">
    <div class="selection" style="margin-right: 1.875rem;">
        <h4 class="title">
            Mắt kính sang trọng
        </h4>
        <p class="detail">
            Ngắm nhìn vẻ đẹp của thế giới với những chiếc kính sang trọng.
        </p>
        <div class="more">
            <p>Khám phá ngay</p>
            <div class= "underline"></div>
        </div>
        <img class="selection-img" src="../../../../assets/img/selection.png" alt="">
    </div>
    <div class="selection">
        <h4 class="title">
            Đồng hồ đẳng cấp
        </h4>
        <p class="detail">
            Thể hiện sự đẳng cấp và nét cá tính độc đáo qua những chiếc đồng hồ của chúng tôi.
        </p>
        <div class="more">
            <p>Khám phá ngay</p>
            <div class= "underline"></div>
        </div>
        <img class="selection-img" src="../../../../assets/img/selection2.png" alt="">
    </div>
</div>
