<div class="profile-container">
    <div class="profile-text">
        <span>Trang chủ /</span>
        <span style="color: #D84727;">Tài khoản cá nhân</span>
    </div>
    <div class="profile-content">
        <div class="profile-content-left">
            <div class="profile-img">
                <img style="margin-bottom: 1.75rem;" src="../../../assets/img/avatar.png" alt="">
                <button type="button">Thay đổi</button>
            </div>
            <div class="profile-content-left-detail">
                <div class="row" style="margin-bottom: 2rem;">
                    <div class="col-8" style="
                        font-weight: 600;
                        font-size: 2.5rem;
                        line-height: 3rem;
                    ">
                        Thành viên
                    </div>
                    <div class="col-4">Vàng</div>
                </div>
                <div class="row">
                    <div class="col-8">Ưu đãi của bạn</div>
                    <div class="col-4">5 Coupon</div>
                </div>
                <div class="row">
                    <div class="col-8">Đơn hàng đã giao</div>
                    <div class="col-4">15</div>
                </div>
                <div class="row">
                    <div class="col-8">Đơn hàng đang giao</div>
                    <div class="col-4">0</div>
                </div>
                <div class="row">
                    <div class="col-8">Mã QR thanh toán</div>
                    <div class="col-4"><img src="../../../assets/img/qrcode.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="profile-content-right">
            <p class="profile-content-right-text">
                Thông tin cá nhân
            </p>
            <div class="profile-content-right-detail">
                <form action="">
                    <div class="form-group">
                        <label for="name">Họ và tên</label>
                        <input type="text" name="name" class="form-control" value="Trần Minh Trí" readonly>
                    </div>
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input type="text" name="email" class="form-control" value="tranminhtri1998@gmail.com" readonly>
                    </div>
                    <div class="form-group">
                        <label for="phone">Số điện thoại</label>
                        <input type="text" name="phone" class="form-control" value="0365374021" readonly>
                    </div>
                    <div class="form-group">
                        <label for="address">Địa chỉ nhận hàng</label>
                        <input type="text" name="address" class="form-control" value="số 25 đường f2" readonly>
                    </div>
                    <div class="form-group">
                        <label for="country">Quốc gia</label>
                        <input type="text" name="country" class="form-control" value="Việt Nam" readonly>
                    </div>
                    <div class="form-group">
                        <label for="city">Tỉnh/ Thành phố</label>
                        <input type="text" name="city" class="form-control" value="Hồ Chí Minh" readonly>
                    </div>
                    <div class="district-wards row">
                        <div class="form-group col-6">
                            <label for="district">Quận/Huyện</label>
                            <input type="text" name="District" class="form-control" value="Quận 2" readonly>
                        </div>
                        <div class="form-group col-6" style="margin-bottom: 0;">
                            <label for="wards">Xã/Phường</label>
                            <input type="text" name="wards" class="form-control" value="Bình Trưng Đông" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="update-button">
        <button type="button">Cập nhật</button>
    </div>
</div>
