<div class="list-products-container">
    <div class="row">
        <div class="col">
            <p>Bán chạy</p>
        </div>
        <div class="col">
            <p>Giảm giá</p>
        </div>
        <div class="col">
            <p>Nổi bật</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-product [className]="classOfProduct"></app-product>
        </div>
        <div class="col">
            <app-product [className]="classOfProduct"></app-product>
        </div>
        <div class="col">
            <app-product [className]="classOfProduct"></app-product>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-product [className]="classOfProduct"></app-product>
        </div>
        <div class="col">
            <app-product [className]="classOfProduct"></app-product>
        </div>
        <div class="col">
            <app-product [className]="classOfProduct"></app-product>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-product [className]="classOfProduct"></app-product>
        </div>
        <div class="col">
            <app-product [className]="classOfProduct"></app-product>
        </div>
        <div class="col">
            <app-product [className]="classOfProduct"></app-product>
        </div>
    </div>
    <div class="row">
        <div class="col col-line">
            <div class="line"></div>
        </div>
        <div class="col col-btn">
            <button type="button" class="btn-more">Xem thêm</button>
        </div>
        <div class="col col-line">
            <div class="line"></div>
        </div>
    </div>
</div>

<!-- <app-product [className]="classOfProduct"></app-product> -->
