.list-products-container{
    padding: 0 5.3125rem;
    .row{
        margin-bottom: 2rem;
        .col{
            p{
                font-family: Taviraj;
                font-style: normal;
                font-weight: normal;
                font-size: 36px;
                line-height: 40px;
                color: #333333;
            }
        }
    }
}

.col-line{
    display: flex;
    align-items: center;
    justify-content: center;
    .line{
        width: 100%;
        height: 1px;
        background: #999;
    }
}
.col-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-more{
        color: #D84727;
        padding: 1rem 5rem;
        font-family: Taviraj;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 34px;
        letter-spacing: 0.03em;
        border: 2px solid #D84727;
        outline: none;
        &:hover{
            cursor: pointer;
            background: #D84727;
            color:white;
        }
    }
}