<div class="list-products-container">
    <div class="row">
        <div class="col">
            <p>Bán chạy</p>
        </div>
        <div class="col">
            <p>Giảm giá</p>
        </div>
        <div class="col">
            <p>Nổi bật</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4" *ngFor="let product of products" style="margin-bottom: 2rem;">
            <app-product [className]="classOfProduct"
                [prod]="product"
            ></app-product>
        </div>
    </div>
</div>

<!-- <app-product [className]="classOfProduct"></app-product> -->
