<div [ngClass]="className">
    <div class="product-img">
        <img src="../../../assets/img/newproduct1.png" alt="">
    </div>
    <div class="product-detail">
        <p class="product-name">
            Singo Maple
        </p>
        <p class="sale">Giảm 20%</p>
        <p class="product-cost">1.500.000 VNĐ</p>
        <p class="product-cost-r">1.264.000 VNĐ</p>
        <div class="show-cart">
            <div class="heart-icon" style="margin-right: 0.5rem;">
                <fa-icon [icon]="faHeart"></fa-icon>
            </div>
            <button class="btn-add" type="button">Thêm vào giỏ hàng</button>
        </div>
    </div>
</div>
